---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - item
    - items
    - group
    - groups
    - tagList
  addAllPagesToCollections: true
layout: layout
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagged "{{ tag }}"</h1>

{% set itemslist = collections[ tag ] %}
{% include "itemslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>