---
title: tags
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - item
    - group
    - tagList
  addAllPagesToCollections: true
layout: layout
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<!-- <h2>Tagged "{{ tag }}"</h2> -->

{% set itemslist = collections[ tag ] %}
{% include "itemslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>