---
layout: layout
pagination:
  data: collections.item
  size: 10
  reverse: true
  alias: items
---

<!-- <p><small style="color: red;">this is using the secnd-lvl template</small></p>
 -->
{{ content | safe }}

<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
{% for item in items | reverse %}
  <!-- compapare the item's parentID to the book's key -->
  {% if item.data.parent == eleventyNavigation.key %}
      <div>
        <h2>
          <a href="{{ item.url | url }}">{{ item.data.title }}</a>
        </h2>
        <img src="/assets/{{ item.data.image }}" alt="{{ item.data.description }}" class="img" />
      </div>
  
{% endif %}
{% endfor %}
</div>