---
layout: layout
pagination:
  data: collections.item
  size: 10
  reverse: true
  alias: items
---

<!-- <p><small style="color: red;">this is using the secnd-lvl template</small></p> -->

{{ content | safe }}

<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
{% for item in items | reverse %}
  <!-- compapare the item's parentID to the book's key -->
  {% if item.data.parent == eleventyNavigation.key %}
      <div class="max-w-sm overflow-hidden">

        <div class="h-48 bg-cover" style="background-image: url('/assets/{{ item.data.image }}')" title="{{ item.data.description }}">
        </div>
        
        <!-- <img src="/assets/{{ item.data.image }}" alt="{{ item.data.description }}" class="w-full bg-cover" /> -->

        <div class="px-6 py-4 text-left">
          <a href="{{ item.url | url }}">{{ item.data.title }}</a>
        </div>

      </div>
  
{% endif %}
{% endfor %}
</div>