---
layout: layout
---


<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  <div>
    <img src="/assets/{{ image }}" alt="{{ description }}" class="img" />
  </div>
  <div>{{ content | safe }}</div>
</div>

<a href="../{{ item.parent | url }}">&larr; Back</a>

<h2>Tagged:</h2>

<div class="">
  {% for tag in tags %}
    {% if tag == "item" %}
    {% else %}
      <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"> {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="item-tag">{{ tag }}</a>
      </div>
    {% endif %}
  {% endfor %}
  
</div>

<!-- create nextPost/previousPost, see if there is one, then see if it matches the parent category -->

<h2>Pagination:</h2>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
    {% set nextPost = collections.item | getNextCollectionItem(page) %}

    {% if nextPost %}
    {% if nextPost.data.parent == parent %}
    <div>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></div>{% endif %}
    {% endif %}


    {% set previousPost = collections.item | getPreviousCollectionItem(page) %}
    
    {% if previousPost %}
    {% if previousPost.data.parent == parent %}
    <div>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></div>
    {% endif %}
    {% endif %}
</div>

