<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <!-- <link rel="stylesheet" href="./styles/custom.css"> -->
    <link rel="stylesheet" href="/style.css?v={% version %}"/>

</head>

<body>

    <nav>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
            {%- for entry in navPages %}
            <li {% if entry.url==page.url %} class="my-active-class" {% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
            {%- endfor %}
        </ul>
    </nav>
    <main>
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </main>
    <hr>
    <footer>
        <p>All contnet BY-NC-CC {{ metadata.title }}</p>
    </footer>
</body>

</html>