---
layout: layout
pagination:
  data: collections.painting
  size: 10
  reverse: true
  alias: paintings
---

<p><small style="color: red;">this is using the painting-list template</small></p>


{{ content | safe }}

{% for painting in paintings %}
  <article>
    <h1>
      <a href="{{ painting.url | url }}">{{ painting.data.title }}</a>
    </h1>
    {{ painting.date }}
  </article>
{% endfor %}