---
layout: layout
pagination:
  data: collections.page
  size: 10
  reverse: true
  alias: pages
---

<p><small style="color: red;">this is using the secnd-lvl template</small></p>

{{ content | safe }}

{% for page in pages %}
  <!-- compapare the page's parentID to the book's key -->
  {% if page.data.parent == eleventyNavigation.key %}
    <article>
      <h1>
        <a href="{{ page.url | url }}">{{ page.data.title }}</a>
      </h1>

    </article>
  {% endif %}
{% endfor %}