---
layout: layout
pagination:
  data: collections.group
  size: 10
  reverse: true
  alias: groups
---

<!-- <p><small style="color: red;">this is using the top-lvl template</small></p> -->

{{ content | safe }}

<!-- filter this for books/shows/paintings -->

{% for group in groups %}
  {% if group.data.parent == eleventyNavigation.key %}

  <article>
    <h2>
      <a href="{{ group.url | url }}">{{ group.data.title }}</a>
    </h2>
    <p><time datetime="{{ group.date | dateIso }}">{{ group.date | dateReadable }}</time></p>
    <img src="/assets/{{ group.data.image }}" alt="{{ group.data.description }}" class="img" width="200"/>

  </article>
  {% endif %}
{% endfor %}