---
layout: layout
pagination:
  data: collections.show
  size: 10
  reverse: true
  alias: shows
---

<p><small style="color: red;">this is using the show-list template</small></p>


{{ content | safe }}

{% for show in shows %}
  <article>
    <h1>
      <a href="{{ show.url | url }}">{{ show.data.title }}</a>
    </h1>
    {{ show.date }}
  </article>
{% endfor %}