---
layout: layout
---

<p><small style="color: red;">this is using the sub-layout template</small></p>

<img src="/assets/{{ image }}" alt="{{ title }}" class="img" width="500"/>

{{ content | safe }}

<h3>Tagged:</h3>

<ul>
  {% for tag in tags %}
    {% if tag == "page" %}
    {% else %}
      <li> {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="page-tag">{{ tag }}</a>
      </li>
    {% endif %}
  {% endfor %}
  
</ul>

<!-- create nextPost/previousPost, see if there is one, then see if it matches the parent category -->

<h3>Pagination:</h3>
<ul>
    {% set nextPost = collections.page | getNextCollectionItem(page) %}

    {% if nextPost %}
    {% if nextPost.data.parent == parent %}
    <li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {% endif %}


    {% set previousPost = collections.page | getPreviousCollectionItem(page) %}
    
    {% if previousPost %}
    {% if previousPost.data.parent == parent %}
    <li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>
    {% endif %}
    {% endif %}
</ul>

<h3><a href="../{{ page.parent | url }}">&larr; Back</a></h3>