---
layout: layout
pagination:
  data: collections.book
  size: 10
  reverse: true
  alias: books
---

<p><small style="color: red;">this is using the top-lvl template</small></p>

{{ content | safe }}

{% for book in books %}
  <article>
    <h1>
      <a href="{{ book.url | url }}">{{ book.data.title }}</a>
    </h1>
    <time datetime="{{ book.date | dateIso }}">{{ book.date | dateReadable }}</time>

  </article>
{% endfor %}