---
layout: layout
pagination:
  data: collections.book
  size: 10
  reverse: true
  alias: books
---

<p><small style="color: red;">this is using the top-lvl template</small></p>

{{ content | safe }}

{% for book in books %}
  <article>
    <h1>
      <a href="{{ book.url | url }}">{{ book.data.title }}</a>
    </h1>
    <p><time datetime="{{ book.date | dateIso }}">{{ book.date | dateReadable }}</time></p>
    <img src="/assets/{{ book.data.image }}" alt="{{ book.data.description }}" class="img" width="200"/>

  </article>
{% endfor %}